.menu-container{
  // display: none;

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
    padding: 32px;
    background-color: rosybrown;
    transform: translateX(100%);
    // background-color: $whitw-color;

   .menu-container.is-open{
     transform: translateX(0);
   }
}

.mobile-menu {

    margin-bottom: 302px;
//   display: flex;
//   align-items: center;
  
}
 .navigation_item:not(:last-child) {
//   margin-right: 50px;
margin-bottom: 35px;
}

.navigation_link {
  position: relative;
  color:  $second-color ;
  letter-spacing: 0.02em;
  text-decoration: none;
  font-weight: 500;
  display: block;
//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1 ) ;
  font-family:  $textPrimary;

  font-size: 40px;
  line-height: 1.2;
  
}


// .navigation_link::after {
//   content: '';
//   width: 100%;
//   height: 4px;
//   border-radius: 2px;
//   background-color: #2196f3;
//   left: 0;
//   bottom: -1;
//   position: absolute;
//   opacity: 0;
//   transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }
// .navigation_link.current::after {
//   opacity: 1;
//   top: 43px;
// }

 .navigation_link:hover,
 .navigation_link:focus {
  color:  $accent-color;
}
.current {
  color:  $accent-color;
}
// .navigation.current::after:hover {
//   width: 40px;
//   height: 4px;
//   background-color: #2196f3;
// }
/* contacts */

// .contacts {
    
//   display: flex;
//   justify-content: flex-end;
//   align-items: center;
//   margin-left: auto;
// }

// .contacts_icon {
//   fill: currentColor;
//   margin-right: 10px;
// }
.contacts{
  margin-bottom: 64px;
}
 .contacts_item:not(:last-child) {
//   margin-right: 50px;
margin-bottom: 32px;
}
.contacts_link {
  color:  $primery-color;
  text-decoration: none;
  line-height: 1.1;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 24px;
//   display: flex;
//   align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family:  $textPrimary;

    &.tel{ 
    font-size: 34px;
    color: #2196F3;

    }
}

.menu-container-box{
  display: flex;
  align-items: center;
  justify-content: flex-start;


  &_item{
font-family: $textPrimary;

font-weight: 500;
font-size: 18px;
line-height: 1.2;
letter-spacing: 0.02em;

color: $accent-color;
    padding-right: 5px;
    padding-left: 5px;
    border-right: 2px solid rgba($color: #212121, $alpha: 0.2);

    

  }
&_item:last-child{
      border-right: none;
    }
  
}
// .contacts_link:hover {
//   color:  $accent-color;, 
// }
// .contacts_icon:hover {
//   fill:  $accent-color;
// }