.team-section {
  background-color:  $secondery-backgraund;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team__title {
  color:  $second-color;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  display: block;
  margin-bottom: 50px;
  font-family:  $textPrimary;
}
.team {
  display: flex;
}
.team__box{
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
}
.team-card {
  padding: 30px 32px;
}
.team__item {
  background-color:  $whitw-color  ;

    &:not(:last-child) {
   margin-right: 30px;
   }
}


.team-card__name {
  font-size: 16px;
  color:  $second-color ;
  line-height: 1.8;
  font-weight: 500;
  text-align: center;
  font-family:  $textPrimary;
  margin-bottom: 10px;
}
.team-card__position {
  color:  $primery-color ;
  font-weight: 400;
  line-height: 1.8;
  font-size: 16px;
  font-family: $textPrimary ;
  text-align: center;
  margin-bottom: 16px;
}
.team-social {
  display: flex;
  justify-content: space-between;
  
}
.team-social__link{
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
  background-color:  $accent-color ;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  }
}
.team-social__icon {
  fill: #afb1b8;
  width: 20px;
  height: 20px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .team-social__link:hover &,
  .team-social__link:focus &{
  fill:  $whitw-color  ;
  }
}

