//colors

  $primery-color: #757575; /*Основной цвет */
  $second-color: #212121; /* Второй цвет  */
  $accent-color: #2196f3; /*Акцентный цвет */
  $whitw-color: #ffffff;
  $hero-footer-color: #2f303a; /*Цвет в футере и блоке герой */
  $secondery-backgraund: #f5f4fa; /*цвет фона в блоке наша команда*/

//font

  $textPrimary: roboto, sans-serif;
  $textSecondery: raleway;